<!DOCTYPE html>
<html lang="en" style="
margin: 0;
padding: 0;
">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[VegMarket] - Account Confirmation</title>
</head>
<body style=
"
width: auto;
margin: 0;
padding: 0;
background-color: #503530;
">
  <div style = "
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 2em;
  ">
    <img
      src="https://lh3.googleusercontent.com/pw/AIL4fc_uoro2y0ZBON-xsDrI2vpjClddIVBte9boqMjiBuQqOrCm6KjcjeZiqR_edWvugIHrPKEv-IOtsJIcIQDhJDi-6c5H7oAfIF5uEJ7PzR4UK2R9xMEJBZsunaGwOZcNvdtpd0yNdhoa2eEGBqPcWVF1sGYg-0zYqnR0vC89FL9A8cW8DtV-whXN1BeyVPuWay_LnnIt7Nd8cFGveDGWnbpFFIvEprzSO--lY1aAWyHk8ReVdl58J066mWcLgkzHBNG2RwBDPB5eiX79BY67iVmziBJZ1LXzjfp_ZFpmaVtBbnzsHUaCVeL8OupBzp7cpmWVfH4r1HjDZ_AHVpIhKW_2pYZOjw7wg-0hDG-YFeHEcet_SC8FSt9VPSP7V_pYWlp9miii0wU1FMjbT9eXCH7q4HTHAgyX-zmz3i-n76e0MMZcyMew2Uh01uMHKxLTxwuSZQu7HcLpnPAHQ43KYOc5mtlUo3MWzf-IMI6o-NPg9NtBz0UaWG_wiE4Xq8hYfT2pQk2kcu53OOnr9vQPGWwJmCDvC45MWO1qUWZskpCox8z3pzgkLWbp1oZUFdc4C5QpiLrA2nG2LmYXjgOKdwGY2JuNe7dIsKSleTTjh5DMFXIyxrt2y_Mn7aXoxpTNKf4GOyp-KOAHRE6Bn_BtvsXLIm6ALvClcXURBzb4ezyBkn--n871ng1AfNzpxGQOFlm_gD6namw2r6pOwMcs1imZI4aaTfEhcNA5pARsArikuGmOhQLfR_Usfad6Zt7CbEu_NeRXX5ldh_tB7DxxgLXZQdlqOLyrrfnpOvIkO3L1SgW1pJqHV8dpbjva4BMXFRwyJk15EElDtWYAraBQNpJWNRPydssnHYxtzhULSTB-8nPey-FatO6l_hDs_nkqQiyR0yizMdUCNF1N3NH40w=w500-h500-s-no?authuser=0"
      alt="Vegmarket - nature transforms your life"
      style="
      border-radius: 16px;
      width: 200px;
      height: auto;
      margin-bottom: 20px;
      "
    />
    <h1 style="margin: 0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size: 2.5em; color: rgb(255, 255, 255); font-weight: bold; margin-bottom: 20px; width: auto; margin-left: 30px;">
      Congratulations, your registration was a success!
    </h1>
    <p style="margin: 0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size: 1.5em; color: rgb(255, 255, 255); font-weight: lighter; width: auto; margin-bottom: 20px; margin-left: 30px;">
      Confirmation code: {{ token_code }}
    </p>
    <p style="margin: 0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size: 1em; color: rgba(255, 255, 255, 0.534); font-weight:bolder; width: auto; margin-bottom: 1em; width: 300px; margin-left: 30px; text-align: start;">
      E-mail sent from an unaccessible and unmonitored e-mail address, please do not reply to this message.
    </p>
  </div>
</body>
</html>